.fade-enter-active, .fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter, .fade-leave-active{
  opacity: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  font-size: 15px;
}
